.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    padding: 20px;
    gap: 10px;
}
.successMessage {
    direction: rtl;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    animation: fadeInOut 5s forwards;
  }
        
      @keyframes fadeInOut {
        0% {
          opacity: 0;
          visibility: visible;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
    
  